{% extends "base.html.twig" %}

 {% block stylesheet %}
{{parent()}}
<link rel="shortcut icon" href="{{ asset('assets/images/favicon_1.ico')}}">

    <!--calendar css-->
    <link href="{{ asset('assets/plugins/fullcalendar/dist/fullcalendar.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/select2/dist/css/select2.css')}}" rel="stylesheet" type="text/css">

   
{% endblock %}


{% block body %}



    
   
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="pull-left page-title">Paramétrage des classes</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">

                                
                                <!-- end col -->

                                <div class="col-md-0">
                                    <div class="widget">
                                        <div class="widget-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <fieldset class="cadre">
            <legend class="legende">Enrégistrement d'une classe</legend>
        <div class="form-row">
                <div class="form-group row">
                <form method="post" name="form2">
                    <div class="form-group col-sm-12">
                        {{ form_widget(formClasse.filiere,{'attr':{'class':'form-control','placeholder':'Selectionner la filiere'}}) }}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_widget(formClasse.libelle,{'attr':{'class':'form-control','placeholder':'Saisir la classe'}}) }}
                    </div>  
                    <div class="form-group col-sm-12">
                        {{ form_widget(formClasse.droitInscription,{'attr':{'class':'form-control','placeholder':'Saisir les droits d\'inscription'}}) }}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_widget(formClasse.mensualite,{'attr':{'class':'form-control','placeholder':'Saisir la mensualité'}}) }}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form_widget(formClasse.fraisSoutenance,{'attr':{'class':'form-control','placeholder':'Saisir les frais de soutenance ou 0 s\'il n\'y en a pas'}}) }}
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="submit" name="validerDept" class="form-control btn btn-primary" value="Enregistrer"/>
                    </div>
                <form>
                </div>
                <div class="count">
                Nombre de classes(s) trouvé(s) : {{ classes.getTotalItemCount }}
                </div>
                <table  class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Libellé Classe</th>
                                        <th>Droit d'inscription</th>
                                        <th>Mensualité</th>
                                        <th>Frais de soutenance</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cl in classes %}
                                        <tr>
                                            <td><b>{{ cl.libelle }}</b></td>
                                            <td><b>{{ cl.droitInscription }}</b></td>
                                            <td><b>{{ cl.mensualite }}</b></td>
                                            <td><b>{{ cl.fraisSoutenance }}</b></td>
                                            <td><a href="{{ path('uahb_scolarite_admin_editclasse', {'action':'edit','id': cl.id}) }}" class="btn btn-primary" role="button">Editer</a></td>
                                            <td><a href="{{ path('uahb_scolarite_admin_editclasse', {'action':'del','id': cl.id}) }}" class="btn btn-primary" role="button">Supprimer</a></td>
                                        </tr>     
                                    {% else %}
                                        <tr>
                                            <td colspan="2">Aucune classe n'a été trouvée</td>
                                        </tr> 
                                    {% endfor %}
                                </tbody>   
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(classes) }}
                </div>
            </div>
    </fieldset>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-->
                            </div>
                            <!-- end row -->

                            
                        </div>
                        <!-- end col-12 -->
                    </div>
                    <!-- end row -->

                </div>
                <!-- container -->

            </div>
            <!-- content -->

            <footer class="footer text-right">
                2016 © Moltran.
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


        
    </div>
    <!-- END wrapper -->

  


{% endblock %}
 {% block scripts %}
{{parent()}}
  

   

    <script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/select2/dist/js/select2.min.js')}}" type="text/javascript"></script>

    <!-- BEGIN PAGE SCRIPTS -->
    <script src="{{ asset('assets/plugins/moment/moment.js')}}"></script>
    <script src="{{ asset('assets/plugins/fullcalendar/dist/fullcalendar.min.js')}}"></script>
    <script src="{{ asset('assets/pages/jquery.fullcalendar.js')}}"></script>

{% endblock %} 